body{
	font:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h3{
	margin:0;
}
.danger{
color: #a94442;
}

.bold{
	font-weight: bold;
}

.italic{
	font-style: italic;
}
/* TOP NAVBAR */
.sis-nav{
	background: #0b448c;
}

.sis-nav .container li a{
	color: #ffffff;
}

.sis-nav .container li a:hover{
	background: rgba(0,0,0,0.4);
}

.sis-nav .container li a:focus{
	background: rgba(0,0,0,0.8);
}

.sis-nav .container li .hover{
	background: rgba(0,0,0,0.4);
}

.navbar-toggle:focus {
    background-color: transparent;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
	background: rgba(0,0,0,0.4);
}

.li-right .dropdown-menu {
	background:#0b448c;
}

.li-right .dropdown-menu li a{
	color: #ffffff;
}

.li-right .dropdown-menu li a:hover{
	background: rgba(0,0,0,0.4);
}

.li-right .dropdown-menu li a:focus{
	background: rgba(0,0,0,0.8);
}

.li-right .dropdown-menu li .hover{
	background: rgba(0,0,0,0.4);
}

.navbar-header{
	padding-bottom: 20px;
}

.navbar-brand{
	margin-top: -19px;
	margin-left:-15px;
}

.navbar-default{
	background: rgba(0,0,0,0);
}

/* NOTICE */
.sis-notice{
	color: #000;
	border-radius: 0px 0px 10px 10px;
	text-align: center;
	font-size:22px;
}
/* SUB NAVBAR */
.sis-tugas-tab .sis-sub-nav{
}

.sis-tugas-tab .sis-sub-nav ul li a{
	color: #ffffff;
	background: #666;
}

.sis-tugas-tab .sis-sub-nav ul li a:hover{
	color: #ffffff;
	background:rgba(11,68,140,0.9);
	border: 1px solid #000;
}

.sis-tugas-tab .sis-sub-nav ul li .act{
	color: #ffffff;
	background:rgba(11,68,140,0.9);
	border: 1px solid #000;
}

.sis-tugas-tab .col-search{
	padding-left: 0px;
	padding-top: 3px;
}
.sis-tugas-tab .form-tab-search{
 display: inline;
 text-align: left;
}

.sis-tugas-tab .nav-tabs{
	border:none;
}

.sis-content{
	margin-top:0px;
}

.sis-content table{
	color: #000;
	background: #fff;
	display: block;
	text-decoration: none;
}

.sis-content table:hover{
	background: rgba(0,0,0,0.8);
	color: #fff;
	display: block;
	text-decoration: none;
}



.sis-content a{
	text-decoration: none;
}

.sis-content a:hover{
	text-decoration: none;
}


.sis-content .table-content{
	border-top: 2px solid #CCC;
	border-collapse: collapse;
	margin-top:5px;	
}

.sis-content .table-content>tbody>tr>td{
	border:none;
}


/*FONT JUDUL*/
.sis-content .col-judul{
	font-size: 18px;
	font-weight: bold;
}


/*font label status*/

.sis-content .col-status{
	font-size: 24px;
	padding-top: 20px;
}

.sis-content .col-status .label-status{
	width: 140px;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
}

.col-content{
	background: rgba(11,68,140,0.9);
	border: 1px solid #000;
	color:#000;
	padding:10px;
}

.sis-footer{
	background:#0b448c;
    bottom: 0;
    width: 100%;
	text-align: center;
}

.sis-footer h4{
	color: #fff;
}


.input-wrap{
	background: #fff;
	padding: 10px;
}
/*@desc login-style */
.col-login{
	margin-bottom:20px;
	color:#000;
	margin-top: 0px;
	padding-left: 8px;
}

.col-login .input-wrap{
	border:1px solid #000;
}

/*search icon*/
.input-group-addon:first-child{
background: rgba(11,68,140,0.9);
color: #fff;
}

.li-right{	
}

.col-label{
	font-size:12px;
	padding-top: 3px;
}
.col-label .checkbox{
	margin: 0;
}

.nav-tabs {
    padding-top: 10px;
}

.nav-acc{
	padding-top: 10px;
}

.label-lokasi{
	    padding: 7px 10px;
}


/*@desc modal */
.deskripsi-tugas{
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 10px;
}

/*@desc modal komentar */

.text-komentar{
	width: 100%;
}

.komentar-title{
	border-bottom: 1px solid #e5e5e5;
	font-size: 18px;
	padding-left: 65px;
}

.komentar-isi{
	padding-left: 65px;
	height: 66%;
}

.komentar-content{
	background: #fff;
	height: 80px;
	clear: both;
	border-radius: 20px;
	margin-top :10px;
}

.komentar-waktu{
	vertical-align: right;
	display: inline;
	font-weight: normal;
	padding-right: 15px;
	color:#656565;
	font-size: 14px;
}
.komentar-img{
	height: 80px;
}

.komentar img{
	height: 100%;
	width:60px;
	border-radius: 20px 0px 0px 20px;
}

.col-tab-text{
	padding-bottom: 0;
}
.komentar-load{
margin-top: 10px;
}

.komentar-load a{
	color: #fff;
	font-weight: bold;
}

.komentar-load a:hover{
	color: #5cb85c;
	font-weight: bold;
	text-decoration: none;
}
/*@desc activity */
.sidebar-offcanvas{
	color:#fff;
	background: #000;
}

.inp-dtp{
	margin-bottom: 0;
}

.notif-container table{
	border-radius: 0px;
}




.notif-container table:hover{
	background: rgba(0,0,0,0.8);
	color: #fff;
	display: block;
	text-decoration: none;
}

.notif-container  a{
	text-decoration: none;
}

.notif-container  a:hover{
	text-decoration: none;
}

.notif-container .table-content{
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	border-collapse: collapse;
	margin-top:0px;
	margin-bottom: 8px;	
	color: #000;
}

.notif-container .table-content-notif{
	color: #000;
	background: #e5e5e5;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	display: block;
	text-decoration: none;
	margin-top:0px;
	margin-bottom: 8px;	
}

.notif-container .table-content>tbody>tr>td{
	border-top: none;
}

.notif-container .table-content-notif>tbody>tr>td{
	border-top: none;
}

.notif-container .komentar-border{
	border-bottom: 1px solid rgba(11,68,140,0.9);
}

.notif-container .komentar-notif{
	font-weight: normal;
	font-size: 12px;
	font-style: italic;
	padding-top:13px;
}

.popover-content{
	padding: 0px;
}

.notif-container{

}

.popover-title{
	margin: 0;
    font-size: 12px;
    background-color: rgba(11,68,140,0.9);
    color: white;
}

.popover-content {
   height: 400px;
   width: 250px;
   overflow-y: scroll;
}

.notif-foto{
	border-radius: 50%;
	width: 40px;
	height: 30px;
}

.foto-index{
	border-radius: 50%;
	width: 30px;
	height: 20px;
}

.dropwidth{
	width: 100%;
}


.foto-komentar{
	height:80px;
	width:60px;
	border-radius: 20px 0px 0px 20px;
}

.preview-foto{
	border: 1px solid #e5e5e5;
}

.btn-file {
        position: relative;
        overflow: hidden;
}

.btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
}

.inp-file{
	border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.preview-box{
	border: 1px solid #e5e5e5;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}